@media screen and (max-width: 1024px) {
  .column {
    padding: 0 1.25em;
  }

  .column-double {
    padding: 0 2.5em;
  }

  .more-1024 {
    display: none;
  }

  .less-1024 {
    display: block;
  }

  .flex {
    flex-wrap: wrap;
  }

  .flex-1024-reverse {
    flex-direction: column-reverse;
  }

  .flex-1024-align-center {
    align-items: center;
  }

  .col2 {
    width: 100%;
  }

  .text-align-center-1024 {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.29em;
  }

  .project-top-title {
    font-size: 2.5em;
  }
  
  .project-top-subtitle {
    font-size: 1.29em;
  }

  .button-fixed {
    height: 40px;
    width: 40px;
  }

  .gallery-arrow {
    height: 20px;
    width: 20px;
  }
}

@media screen and (max-width: 576px) {
  .col5-3,
  .col3 {
    width: 100%;
  }
}

@media screen and (max-width:480px) {
  .column {
    padding: 0 0.625em;
  }

  .column-double {
    padding: 0 1.25em;
  }
}